.search-main-container input {
    width: 400px;
    height: 40px;
    border-radius: 2rem;
    margin: 10px;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 16%;
    background-color: white;
    display: flex;
    padding-left: 45px;

    @include for-mobile-layout {
        width: 55%;
        height: 35px;
        text-align: center;
        left: 10px;
        top: 3px;
        padding-left: 17px;
        font-size: 13px;
    }
}

.search-btn {
    position: fixed;
    left: 17.5%;
    top: 20px;
    color: rgba(0, 0, 0, 0.637);
    font-size: 20px;
    z-index: 10;
    border: none;
    background: none;

    @include for-mobile-layout {
        left: 6%;
        top: 23px;
        font-size: 13px;
    }
}

.search-filter-btns {
    padding: 8px 10px;
    gap: 10px;
    display: contents;
    padding-right: 20px;

    & .active{
        background-color: red;
    }

    @include for-mobile-layout {}
}

.search-main-container {

    .search-loader-container {
        margin: 150px;
        display: flex;
        justify-content: center;
        height: 200px;
    }
}

.search-filter-btn {
    border-radius: 25px;
    background-color: rgb(26, 26, 26);
    color: white;
    border: none;
    padding: 5px 15px;
    margin: 5px;
    font-family: circular;

    @include for-mobile-layout {
        font-size: 12px;
    }
}

.scroller {
    width: 300px;
    height: 100px;
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
}

.browse-all {
    @include for-mobile-layout {
        padding: 0;
    }
}