.about {

    .app-desc {
        display: grid;
        grid-template-columns: 1fr 6fr 1fr;
        grid-template-rows: 2fr 8fr;
        height: 50vh;
        width: 80%;
        margin: 10px auto;
        background-color: #252525;
        border-radius: 25px;

        h1 {
            grid-column: 1/-1;
            grid-row: 1/2;
            text-align: center;
        }

        .desc-txt-container {
            grid-column: 2/3;
            grid-row: 2/3;
        }

        .back-btn {
            grid-column: 1/2;
        }

        .next-btn {
            grid-column: 3/4;
        }
        
        
        &>button {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            grid-row: 2/3;
            background-color: transparent;
            border: none;
            color: #fff;
            height: 50px;
            width: 50px;

            svg {
                font-size: 75px;
            }
        }
    }
}


.developers {
    .profile-preview {
        height: fit-content;
    }

    h1 {
        display: flex;
        justify-content: center;
    }

    .dev-link-container {
        width: 100%;
        margin-top: 10px;
        justify-content: flex-end;
        gap: 5px;

        &>* {
            height: 30px;
            width: 30px;
        }
    }

    .developers-container {
        display: flex;
        justify-content: center;
        gap: 15px;
    }
}