.login-signup-form-container {
    align-items: center;

    &>*:first-child {
        margin-bottom: 50px;
    }

    .login-signup-form {
        align-items: center;
        margin: auto;
        gap: 15px;

        & .login-signup-input {
            width: 500px;
            height: 50px;
            border-radius: 25px;
            padding-inline-start: 25px;
            font-size: rem(20px);


            &::placeholder {
                font-size: rem(20px);
            }
        }

        .error-msg{
            background-color: red;
            padding: 15px;
            border-radius: 25px;
        }

        & .login-signup-btn {
            width: 200px;
            height: 75px;
            margin-top: 75px;
            color: $clr2;
            background-color: $clr1;
            font-size: rem(28px);
            border-radius: 45px;
        }
    }
}