.profile-details-main-container {
    gap: 35px;

    .recently-played-container {
        padding-inline-start: rem(32px);
        padding-top: rem(32px);

        & .clip-list-header {
            background: #121212;
        }

        h1 {
            margin: 0;
            padding-inline-start: 15px;
        }

    }
}