.station-search-header {
    @include for-mobile-layout {
        font-size: 17px;
        margin-left: 20px;
    }

    @include for-wide-layout {
        display:grid;
        
    }
}

.station-search-container {

    input {
        padding-inline-start: 6px;
    }

    @include for-mobile-layout {
        // display: flex;
    }
}

.station-clips-container {
    &>ul {
        margin: 0px;
    }
}

