@font-face {
    font-family: circular;
    src: url(../fonts/CircularFontFamily/AvenirLTStd-Heavy.otf);
}

@font-face {
    font-family: pacifico;
    src: url(../fonts/Pacifico/Pacifico-Regular.ttf);
}