// Colors
$clr1: #3f7ef4;
$clr2: #fff;
$green-Clr: #25EB6B;
$green-Clr2: #1ed760;
$clr4: #0D72EA;
$clr5: #F6F6F6;
$clr6: #1A1A1A;
$clr7: #6A6A6A;
$clr8: #1db954;

// Breakpoints
$mobile-breakpoint: 415px;
$narrow-breakpoint: 720px;
$wide-breakpoint: 1190px;