* {
    box-sizing: border-box;
}

html {
    font-family: circular;
    line-height: 1.6;
    height: 100%;
}

body {
    margin: 0;
    background-color: #121212;
    color: #fff;
    height: 100%;
}

body::-webkit-scrollbar {
    width: 0.6em;

    @include for-mobile-layout {
        width: 0.4em;
    }
}

body::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #888;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(19, 19, 19, 0.3);
}

.main {
    background-color: #121212;
}

a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

button,
.skip10sec-btn {
    &:hover {
        cursor: pointer;
        transition: 0.3s;
    }
}

h1 {
    color: white;
    font-size: 22px;
    text-align: left;
    margin: 30px 25px 10px 20px
}

.shadow-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .6s;
    z-index: 10;
    cursor: pointer;
}

.hr-navbar {
    margin: 0 10px;

    @include for-mobile-layout {
        display: none;
    }
}

hr {
    margin: 0;
}

.rotate {
    animation: rotation 10s infinite linear;

    @keyframes rotation {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(359deg);
        }
    }
}