.main-layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px minmax(calc(100% - 76px - 125px), 1fr) 65px 76px;
    grid-template-areas: 
        'headerpos'
        'main'
        'mediaplayer'
        'navbar'
    ;

    .main-content {
        grid-area: main;
    }

    @include for-narrow-layout {
        grid-template-columns: 212px 5fr;
        grid-template-rows: 60px minmax(calc(100vh - 90px - 60px), 1fr) 90px;
        grid-template-areas: 'navbar headerpos'
            'navbar main'
            'mediaplayer mediaplayer'
        ;
    }

    /*870px and above*/
    @include for-normal-layout {
        grid-template-columns: 212px 5fr;
        grid-template-rows: 60px minmax(calc(100vh - 90px - 60px), 1fr) 90px;
        grid-template-areas: 'navbar headerpos'
            'navbar main'
            'mediaplayer mediaplayer'
        ;
    }

    /*1180px and above*/
    @include for-wide-layout {
        grid-template-columns: 212px 4fr;
        grid-template-rows: 60px minmax(calc(100vh - 90px - 60px), 1fr) 90px;
    }
}