.logo-container {
    display: flex;

    .logo-container h1 {
        font-size: 20px;
        margin-top: 20px;
    }

    .logo img {
        width: 60px;
        -webkit-transform: rotate(345deg);
        -moz-transform: rotate(345deg);
        -ms-transform: rotate(345deg);
        -o-transform: rotate(345deg);
        transform: rotate(345deg);
    }

    .logo-name {
        background: #25EB6B;
        background: radial-gradient(circle farthest-corner at left center, #25EB6B 0%, #FFFFFF 91%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: auto 0;
        display: flex;
        justify-content: space-evenly;
        letter-spacing: 0.1em;
        font-size: 19px;
    }

    @include for-mobile-layout {
        display: none;
    }
}

.sidebar {
    position: fixed;
    width: 25px;
    height: 100%;
    background: #121212;
    background-color: #000;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 10px;
    z-index: 20;

    @include for-mobile-layout {
        display: contents;
        flex-direction: row;
        width: 100%;
        position: relative;
        bottom: 0;
        align-items: center;
        z-index: 30;
        font-size: 10px;
        text-align: center;
    }

    @include for-narrow-layout {
        width: 200px;
    }

    @include for-wide-layout {
        width: 250px;

    }

    a {
        color: rgb(172, 170, 170);
        text-decoration: none;
    
        @include for-narrow-layout {
            font-size: 14px;
        }
    
        @include for-wide-layout {
            font-size: 16px;
        }
    }
}

.sidebar ul { // check if you can put in base?
    list-style-type: none;
    padding: 0;

    &:hover {
        cursor: pointer;
    }
}

.user-stations-container {
    @include for-mobile-layout {
        display: none;
    }
}

[data-rbd-drag-handle-context-id="0"] {
    cursor: pointer;
}

.hr-navbar {
    margin: 0 10px;

    @include for-mobile-layout {
        display: none;
    }
}