.station-clips-main-container,
.clip-preview-container {
    display: grid;
    gap: 5px;

    li {
        display: block;
        max-height: 60px;
        padding: 4px;
    }
}

.clip-preview-main-container {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    font-size: 12px;
    height: 42.3px;

    .clip-img {
        width: rem(40px);
        height: rem(40px);
    }

    .title-text {
        padding: 3px 0;
        padding-inline-start: 15px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        h1 {
            font-size: 14px;
            margin: 0;
            padding: 0;
        }

        p {
            font-size: 12px;
            margin: 0;
            padding: 0;
            color:rgb(111, 105, 105)
        }

    }

    // align-items: center;
    .clip-num,
    .clip-play-btn,
    .artist-name,
    .added,
    .clock-area,
    .like,
    .clip-equalizer {
        display: none;
    }

    .dropdown-btn {
        visibility: visible;
        font-size: 15px;
    }

    @include for-normal-layout {

        font-size: 14px;
        padding: 0 10px;
        display: grid;
        align-items: center;
        grid-template-columns: 40px 5fr 2.5fr 1.5fr 50px 40px 32px;

        grid-template-areas: 'num title artist date like dur burger';

        .clip-num,
        .clip-play-btn,
        .artist-name,
        .added,
        .clock-area,
        .like,
        .clip-equalizer {
            display: grid;
        }

        .clip-num,
        .clip-play-btn,
        .clip-equalizer {
            grid-area: num;
            padding: 10px;
        }

        .clip-equalizer {
            padding: 10px;
            max-width: 28.3px;

            img {
                width: 150%;
            }
        }

        & .clip-play-btn {
            display: none;
            padding: 10px;
        }

        .clip-title {
            grid-area: title;
            border-bottom: 1px solid transparent;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            .title-text {
                padding-inline-start: 16px;
            }
        }

        .artist-name {
            grid-area: artist;
        }

        .like {
            grid-area: like;

            &.symbol {
                background: none;
                border: none;
                font-size: 18px;
                width: 10%;
                padding-right: 25px;

                @include for-mobile-layout {
                    font-size: 16px;
                }
            }
        }

        .clock-area {
            grid-area: dur;
            text-align: right;
        }

        .fa-regular.fa-heart {
            visibility: hidden;
        }

        .dropdown-btn {
            grid-area: burger;
            visibility: hidden;
            padding: 10px;
        }

        &:hover {
            cursor: pointer;
            background-color: #313131;

            .clip-play-btn {
                display: unset;
                padding-right: 10px;
                font-size: 13px;
                max-width: 28.3px;
            }

            .clip-num {
                display: none;
            }

            .dropdown-btn {
                visibility: visible;
                font-size: 16px;
                margin-right: 5px;
                margin-bottom: 4px;
                padding: 10px;
            }

            .fa-regular.fa-heart {
                visibility: visible;
                color: rgb(172, 170, 170);
            }
        }
    }
}

.like.symbol.fa-regular.fa-heart {
    background-color: transparent;
    border: none;
    color: rgb(172, 170, 170);
}

.like.symbol.fas.fa-heart {
    background-color: transparent;
    border: none;
}