.cp-1-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.cp-main-container {
    display: grid;
    // grid-template-columns: 650px 9fr 8fr 2fr minmax(50px, 1fr);
    // grid-template-columns:800px 10fr 1fr 1fr minmax(50px, 1fr);
    grid-template-columns: 800px 8fr 2fr 1fr minmax(50px, 1fr);
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    height: 45px;

    &:hover {
        cursor: pointer;
        background-color: #313131;

    }

    & .clip-play-btn {
        display: none;
        padding: 10px;
    }

    & .clip-dp-btn {
        display: none;
        padding: 10px;

    }

    .fa-regular.fa-heart {
        visibility: hidden;
    }

    :hover {
        visibility: visible;
    }

    &:hover {
        .clip-play-btn {
            display: unset;
            padding-right: 10px;
            font-size: 13px;
            max-width: 28.3px;
        }

        .clip-num {
            display: none;
        }

        .clip-dp-btn {
            display: flex;
            font-size: 16px;
            margin-right: 5px;
            margin-bottom: 4px;
            padding: 10px;
            text-align: center;
        }

        .fa-regular.fa-heart {
            visibility: visible;
        }

    }

    @include for-mobile-layout {

        .artist-name,
        .added {
            display: none;
        }

        display: grid;
        grid-template-columns: 266px 1fr minmax(50px, 1fr);
        width: 100%;
        justify-content: space-between;
        align-items: center;
        font-size: 12px;
        height: 42.3px;
    }

    .clip-num {
        padding: 10px;
        max-width: 28.3px;
    }

    .clip-equalizer {
        padding: 10px;
        max-width: 28.3px;

        img {
            width: 150%;
        }
    }




    .clip-img {
        width: rem(40px);
        height: rem(40px);
    }


    .clip-title {
        border-bottom: 1px solid transparent;
        padding: 0 16px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

}

.like.symbol {
    background: none;
    border: none;
    font-size: 18px;
    width: 10%;
    padding-right: 25px;

    @include for-mobile-layout {
        font-size: 16px;
    }
}

.album,
.artist-name {
    text-align: start;
}

.album {
    margin-left: 12px;
}

.added,
.date {
    text-align: left;
}

.date {
    margin-left: 0px;
}

.cp-2-container {
    text-align: right;

    @include for-mobile-layout {}
}

.blink {
    animation: blink-animation 1s steps(2, start);
    -webkit-animation: blink-animation 1s steps(2, start);
}

@keyframes blink-animation {
    to {
        background-color: lightblue;
    }
}

@-webkit-keyframes blink-animation {
    to {
        background-color: unset;
    }
}


.playlist-btns {
    display: flex;
    gap: 35px;
    height: 150px;
    align-items: center;
    padding: 30px;
    background: linear-gradient(transparent 0, rgba(0, 0, 0, 0.6) 100%);

    @include for-mobile-layout {
        height: 60px;
        gap: 20px;
    }

    .play-btn {
        transform: scale(1.1);
        background: #1ed760;
        transition: 0.4s;
        width: 3.125rem;
        height: 3.125rem;
        font-size: 1.2rem;

        @include for-mobile-layout {
            width: 2.75rem;
            height: 2.75rem;
            font-size: 1rem;
        }
    }

    .clip-dp-btn {
        background: none;
        border: none;
        padding: 10px;
        font-size: 25px;
    }
}