.main-stations-container {
    align-items: center;
}

.station-list {
    grid-template-columns: repeat(auto-fill, minmax(187px, 1fr));
    grid-template-rows: 1fr;
    gap: 15px;
    padding: 25px;

    .station-preview {
        border-radius: 15px;
        height: 100%;
        padding: 15px;
        background-color: #181818;
        justify-content: space-between;

        &:hover {
            background-color: rgb(49, 49, 49);
            transition: all 0.5s;
        }

        img {
            // @include aspect-ratio(1, 1);
            // width: 100%;
            // margin-bottom: 10px;
            // box-shadow: 0px 7px 24px -2px #000000;
            // border-radius: 5px;
        }

        .desc-container {
            h4 {
                padding-bottom: 16px;
            }

            p {
                color: #a7a7a7;
            }
        }
    }

    @include for-mobile-layout {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 15px 8px;

    }
}

.green {
    color: #1ed760;
}

.browse {
    margin-left: 25px;
}