.station-header-main-container {

    @include for-mobile-layout {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.station-header-details-container {
    display: flex;
    flex-direction: column;

    h5 {
        margin: 30px 0 0;
    }
}

.station-header-details-container-2 {
    font-size: 0.80em;

    margin-top: 10px;


    @include for-mobile-layout {
        font-size: 0.60em;
        color: rgb(172, 170, 170);
    }
}

.station-header-name-container {
    @include for-normal-layout {
        font-size: 2.75rem;
        margin: 0;
    }

    @include for-wide-layout {
        text-indent: -6px;
        margin-inline-start: 0;
        font-size: 5.5rem;
        letter-spacing: -5px;
    }


    @include for-mobile-layout {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.4rem;
        letter-spacing: -1px;
        text-indent: -2px;
        width: 85%;
        margin-top: 0;
        position: absolute;
        top: 245px;
        left: 10px;
    }
}

.rotate {
    animation: rotation 10s infinite linear;

    @keyframes rotation {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(359deg);
        }
    }
}

.station-dropdown {
    transition: all 0.5s;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 430px;
    left: 335px;
    width: 150px;
    height: 160px;
    background-color: #222222;
    padding: 10px;
    z-index: 20;

    li:hover {
        background-color: #757575;
        cursor: pointer;
    }

    @include for-mobile-layout {
        width: 130px;
        height: 150px;
        top: 300px;
        left: 100px;
        font-size: 12px;
    }
}

.station-img {
    width: rem(270px);
    height: 276px;
    padding: 30px;

    @include for-mobile-layout {
        height: 230px;
        width: 230px;
        padding: 10px;

    }
}

.admin-state-btn {
    font-size: 32px;
    cursor: pointer;
}


.station-user-name {
    font-weight: bold;
    font-size: 14px;
}

.playlist-btns {
    display: flex;
    gap: 35px;
    height: 150px;
    align-items: center;
    padding: 30px;
    background: linear-gradient(transparent 0, rgba(0, 0, 0, 0.6) 100%);

    @include for-mobile-layout {
        height: 65px;
        gap: 20px;
        justify-content: space-between;
        padding: 14px;
        flex-direction: row-reverse;
    }

    .play-btn {
        border-radius: 50%;
        border: none;
        transform: scale(1.1);
        background: #1ed760;
        transition: 0.4s;
        width: 3.125rem;
        height: 3.125rem;
        font-size: 1.2rem;

        &:hover {
            background: #1ed760;

        }

        @include for-mobile-layout {
            width: 2.75rem;
            height: 2.75rem;
            font-size: 1rem;
        }
    }

    .dropdown-btn {
        background: none;
        border: none;
        font-size: 25px;
    }
}