.station-preview {
    border-radius: 15px;
    height: 100%;
    padding: 15px;
    background-color: #181818;
    justify-content: space-between;
    overflow: hidden;
    overflow-y: hidden;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        margin: 0;
        padding: 0;
    }

    &:hover {
        background-color: rgb(49, 49, 49);
        transition: all 0.5s;

        .station {
            background-color: rgb(49, 49, 49);
            transition: all 0.5s;

            &:hover {
                .play-btn {
                    opacity: 1;
                    transform: scale(1.1);
                    background: #1ed760;
                    transition: 0.4s;
                }
            }

            @include for-mobile-layout {
                width: 175px;
            }
        }
    }

    .desc-container {
        h4 {
            margin-top: 16px;
            font-size: 16px;
            padding-bottom: 4px;
        }

        p {
            color: #a7a7a7;
        }
    }

    a {
        display: flex;
        justify-content: center;
    }

    .img-container {
        height: 156px;
        width: 100%;

        img {
            height: 100%;
            object-fit: cover;
            margin-bottom: 16px;

            @include aspect-ratio(1, 1);
            width: 100%;
            box-shadow: 0px 7px 24px -2px #000000;
            border-radius: 5px;
        }

        .play-btn {
            display: unset;
            opacity: 0;
            position: relative;
            text-align: center;
            bottom: 70px;
            left: 105px;
            transition: 0.4s;
            width: 45px;
            height: 45px;

            @include for-mobile-layout {
                display: none;
            }
        }
    }
}


.recent-search-delete-btn-container {
    display: flex;
    align-items: flex-end;
    justify-content: end;
}