.search-res {
    justify-content: space-between;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    align-items: center;
    padding: 5px;
    font-size: 14px;
    height: 42.3px;
    margin: 10px;
    display: grid;
    grid-template-columns: 14fr 10fr 2fr minmax(50px, 1fr);
    align-items: center;

    .clip-img {
        width: 2.5rem;
        height: 2.5rem;
    }

    .clip-title {
        padding: 0 16px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .artist-name {
        @include for-mobile-layout {
            display: none;
        }
    }

    .search-res-add-btn {
        font-weight: 700;
        font-size: 0.8125rem;
        background-color: transparent;
        border-radius: 500px;
        position: relative;
        text-align: center;
        padding-inline: 15px;
        border: 1px solid #878787;
        min-block-size: 32px;
        color: white;

        &:hover {
            border: 1px solid white;
        }

        @include for-mobile-layout {
            font-size: 0.675rem;
            min-block-size: 30px;
            padding-inline: 12px;
        }
    }


    &:hover {
        background-color: rgb(49, 49, 49);
        cursor: pointer;
    }

    @include for-mobile-layout {
        display: grid;
        grid-template-columns: 330px 2fr minmax(50px, 1fr);
        justify-content: space-between;
        align-items: center;
        font-size: 12px;
        height: 42.3px;
    }
}