.clips-list {
    max-width: 1750px;
margin-inline-start: rem(20px);
    .clip-list-header {
        display: grid;
        grid-template-columns: 1fr 20fr 5fr 5fr 7.5fr;
        align-items: center;
        padding: 4px;

        font-size: rem(20px);
        color: $grey-txt;

        .cl-play-btn {
            grid-column: 1/2;
            width: 60px;
        }

        .artist {
            display: none;
        }

        .date-added {
            position: relative;
            width: max-content;
            display: none;
        }

        .title {
            grid-column: 2/3;
        }

        .duration {
            grid-column: 4/5;

            svg {
                font-size: 3.5vw;
            }
        }
    }

    hr{
        margin-inline-start: rem(20px);
    }

    .clips-list-main-container {
        display: flex;
        flex-direction: column;
        // gap: 5px;
    }

    @include for-tablet-layout {
        .clip-list-header {
            font-size: rem(12px);
        }
    }

    @include for-desktop-layout {
        .clip-list-header {
            grid-template-columns: 1fr 20fr 5fr 5fr 5fr 5fr 5fr;

            .cl-play-btn {
                width: 80px;
            }

            .artist {
                grid-column: 3/4;
                display: block;
            }

            .date-added {
                grid-column: 4/5;
                display: block;
            }

            .duration {
                display: flex;
                justify-content: flex-end;
                grid-column: 6;

                svg {
                    font-size: 2.5vw;
                }
            }
        }
    }

    @include for-large-desktop-layout{
        .clip-list-header {
            font-size: rem(14px);
        }
    }
}