.clip-preview {

    &:hover {
        background-color: $grey-hover;
    }

    .clip-preview-main-container {
        display: flex;
        justify-content: space-between;
        padding: 5px;
        font-size: 12px;
        height: 42.3px;

        .clip-num,
        .clip-play-btn,
        .equalizer {
            display: none;
        }

        .clip-img {
            width: rem(40px);
            height: rem(40px);
            clip-path: inset(12.5% 0% 12.5% 0% round 10px);
        }

        .title-text {
            padding: 3px 0;
            padding-inline-start: 15px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            h1 {
                font-size: 14px;
                margin: 0;
                padding: 0;

                @include for-mobile-layout {
                    font-size: 12px;
                }
            }

            p {
                font-size: 12px;
                margin: 0;
                padding: 0;
                color: rgb(111, 105, 105);
                text-align: left;

                @include for-mobile-layout {
                    font-size: 11px;
                }
            }
        }

        .like-icon {
            position: absolute;
            right: 110px;
        }

        .artist-name,
        .added,
        .clip-header-clock {
            display: none;
        }

        .dropdown-btn {
            visibility: visible;
            font-size: 15px;
        }

        .dropdown {
            font-size: rem(16px);

            .dropdown-station-list {
                position: absolute;
                background-color: #1f1f1f;
                padding: 5px;
                border-radius: 5px;
                top: 90px;
                left: -195px;
            }
        }

        @include for-normal-layout {

            font-size: 14px;
            padding: 0 10px;
            display: grid;
            align-items: center;
            grid-template-columns: 40px 5fr 2.5fr 1.5fr 50px 40px 32px;
            cursor: pointer;

            .equalizer {
                padding: 10px;
                max-width: 28.3px;

                img {
                    width: 150%;
                }
            }

            .clip-num,
            .clip-play-btn,
            .artist-name,
            .added,
            .clip-header-clock,
            .like,
            .equalizer {
                display: grid;
            }

            .clip-play-btn {
                display: none;
            }

            .clip-num,
            .clip-play-btn,
            .equalizer {
                padding: 10px;
            }


            .clip-title {
                border-bottom: 1px solid transparent;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                .title-text {
                    padding-inline-start: 16px;
                }
            }

            .clip-header-clock {
                grid-column: 6;
                text-align: right;
            }

            .dropdown-btn {
                visibility: hidden;
                padding: 10px;
            }

            &:hover {

                .clip-play-btn {
                    display: unset;
                    padding-right: 10px;
                    font-size: 13px;
                    max-width: 28.3px;
                }

                .clip-num {
                    display: none;
                }

                .equalizer {
                    display: none;
                }

                .dropdown-btn {
                    visibility: visible;
                    font-size: 16px;
                    margin-right: 5px;
                    margin-bottom: 4px;
                    padding: 10px;
                }

            }
        }
    }
}