.clip-preview {
    display: block;
    align-items: center;
    padding: 4px;

    .clip-preview-container {
        display: grid;
        grid-template-columns: 1fr 20fr 5fr 5fr 7.5fr;
        align-items: center;
        padding: 5px;
        font-size: 2vw;
        height: fit-content;

        .play-btn-container {
            grid-column: 1/2;
            padding: 20px;
            font-size: 3vw;
            cursor: pointer;

            .clip-num {
                display: none;
            }

            .equalizer {
                padding: 10px;
                max-width: 28.3px;
                display: none;

                img {
                    width: 150%;
                }
            }

        }

        .clip-img-container {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 8vw;
                height: 8vw;
                clip-path: inset(12.5% 0% 12.5% 0% round 10px);
            }
        }

        .clip-title {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .title-text {
            padding-inline-start: rem(15px);

            &>* {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: fit-content;
            }

            h1 {
                font-size: 2.5vw;
                width: fit-content;
                margin: 0;
                padding: 0;
            }

            p {
                margin: 0;
                padding: 0;
                color: #6f6969;
                text-align: left;
            }
        }

        .cp-artist-name,
        .cp-date-added {
            display: none;
        }

        .like-icon {
            display: flex;
            justify-content: center;
            // width: fit-content;
        }

        .dropdown-btn {
            visibility: visible;
            // font-size: 15px;
            cursor: pointer;
        }

        .dropdown {
            font-size: rem(16px);

            .dropdown-station-list {
                position: absolute;
                background-color: #1f1f1f;
                padding: 5px;
                border-radius: 5px;
                top: 90px;
                left: -195px;
            }
        }

        @include for-tablet-layout {

            .play-btn-container {
                .clip-play-btn {
                    display: none;
                }

                .clip-num {
                    display: unset;
                }
            }

            .title-text {
                h1 {
                    font-size: 14px;
                }

                p {

                    font-size: 12px;
                }
            }
        }

    }

    @include for-desktop-layout {
        .clip-preview-container {
            grid-template-columns: 1fr 20fr 5fr 5fr 5fr 5fr 5fr;
            align-items: center;
            font-size: 1vw;
            padding: 0 10px;

            .clip-img-container {
                img {
                    width: 6vw;
                    height: 6vw;
                }
            }

            .play-btn-container {
                font-size: 2vw;
            }

            .title-text {
                h1 {
                    font-size: 1.5vw;
                }
            }

            .cp-artist-name {
                padding-inline-start: 5px;
                grid-column: 3/4;
                display: grid;
            }

            .cp-date-added {
                grid-column: 4/5;
                display: grid;
            }

            .cp-duration {
                grid-column: 6;
                text-align: right;
            }

            .dropdown-btn {
                visibility: hidden;
            }

        }
    }

    &:hover {
        border-bottom: 1px solid transparent;
        background-color: $grey-hover;
        border-radius: 5px;

        .clip-preview-container {
            .clip-play-btn {
                display: unset;
            }

            .clip-num {
                display: none;
            }

            .equalizer {
                display: none;
            }

            .dropdown-btn {
                visibility: visible;
            }

        }
    }

}