.clips-list {
    max-width: 1750px;

    .clip-list-header {
        display: grid;
        grid-template-columns: 1fr 20fr 5fr 5fr 7.5fr;
        align-items: center;
        padding: 4px;

        &>* {
            font-size: 2.5vw;
            color: $grey-txt;
        }

        .num {
            width: 60px;
        }

        .artist,
        .date-added {
            display: none;
        }

        .title {
            grid-column: 2/3;
        }

        .duration {
            grid-column: 4/5;
            // display: flex;
            // justify-content: center;

            svg {
                font-size: 3.5vw;
            }
        }
    }

    .clips-list-main-container {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

}