.station-dropdown {
    transition: all 0.5s;
    position: absolute;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    top: 420px;
    left: 335px;
    width: 150px;
    height: 160px;
    background-color: #222222;
    padding: 10px;
    z-index: 20;

    li:hover {
        background-color: #757575;
        cursor: pointer;
    }

    @include for-mobile-layout {
        width: 130px;
        height: 150px;
        top: 300px;
        left: 100px;
        font-size: 12px;
    }
}
