.dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: max-content;
    height: max-content;
    background-color: #222222;
    border-radius: 15px;
    transition: all 0.5s;
    list-style: none;
    padding: 15px;
   
    &>*:not(.shadow-screen) {
        z-index: 20;
    }

    li {
        height: 35px;
        width: max-content;
        list-style: none;
    }

    li:hover {
        background-color: #757575;
        cursor: pointer;
    }

    @include for-mobile-layout {
        height: 95px;
        top: 200px;
        left: 40px;
        font-size: 12px;
    }
}

