.search-loader {
    margin: 150px;
    display: flex;
    justify-content: center;
    height: 200px;
}

.page-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.large-loader {
    width: rem(450px);
    height: rem(450px);
}

.medium-loader {
    width: rem(405px);
    height: rem(414px);
    padding: 30px;
}

.loader-img {
    padding: 30px;
    animation: rotation 4s infinite linear;

    @keyframes rotation {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(359deg);
        }
    }

    @include for-mobile-layout {
        height: 230px;
        width: 230px;
        padding: 10px;
    }
}