.media-player-container {
    /************************Below 415px************************/
    grid-area: mediaplayer;
    width: 95%;
    margin: auto;
    position: fixed;
    height: 65px;
    left: 2.5%;
    bottom: 75px;
    justify-content: space-between;
    align-items: center;
    background-color: #181818;
    border-top: 1px solid #282828;
    padding: 0 10px;
    z-index: 30;
    border-radius: 8px;

    .youtube-player {
        display: none;
    }

    .time-line-container {
        display: flex;
        justify-content: center;
    }

    .time-line-input {
        width: 100%;
        outline: 0;
        cursor: pointer;
        transform: translateY(6%);

        @include for-mobile-layout {
            transform: translateY(20%);
        }
    }

    .skip10sec-btn {
        display: none;
        transform: translateY(30%);
        color: rgb(172, 170, 170);
    }

    .mp-controller {
        position: absolute;
        width: 90vw;
        bottom: -6px;
    }

    .mp-btn-container {
        display: flex;
        justify-content: flex-end;
        padding-top: 20px;


        &>:nth-child(1) {
            display: none;
        }
    }

    .track-time {
        display: none;
    }

    .mp-2nd-controller {
        display: none;
    }

    .play-btn {
        width: 30px;
        height: 8px;
        background: none;
        border: none;
        color: white;

        &:hover {
            background: none;
        }
    }

    .media-player-clip-container {
        gap: 10px;
        align-items: center;
        width: 125px;
        height: 53px;

        &:not(:last-child) {
            justify-content: flex-start;
        }

        .like-btn-container {
            display: none;

            .like.symbol {
                display: none;
                font-size: 1.2em;
            }
        }

        .media-player-clip-preview {
            position: absolute;
            font-size: 10px;
            padding-left: 30px;
            margin: 20px;

            h1,
            p {
                margin: 0;
                padding: 0;
            }

            h1 {
                font-size: 12px;
                max-width: 200px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            p {
                color: rgb(172, 170, 170);
            }

            .fa-heart {
                padding-left: 15px;
            }
        }

        .symbol-like,
        .skip10sec-btn,
        .shuffle,
        .repeat,
        .queue-icon {
            display: none;
            background: none;
            border: none;
            color: rgb(172, 170, 170);

            &:hover {
                cursor: pointer;
            }
        }

        .action-btn.shuffle {
            display: none;
        }

        .action-btn.queue-icon {
            display: none;
        }
    }


    /*******************415px-720px*******************/
    @include for-narrow-layout {
        display: flex;
        bottom: 0;
        width: 100%;
        height: 90px;
        left: 0;

        input[type='range'] {
            height: 4px;
        }

        .time-line-input {
            width: 200px;
        }

        .skip10sec-btn {
            display: block;
            align-items: center;

            .skip10sec-btn {
                &:hover {
                    cursor: pointer;
                    transition: 0.3s;
                }
            }
        }

        .mp-controller {
            position: relative;
            text-align: center;
            width: 100vw;
            justify-content: space-between;
            margin: 15px 120px;
            left: 80px;
            bottom: 4px;
        }

        .mp-btn-container {
            justify-content: space-between;
            // padding-top: 10px;
            margin: 0 auto;

            &>:nth-child(1) {
                display: block;
            }

            .action-btn {
                font-size: 1rem;
                color: #b3b3b3;
                background: none;
                border: none;
                margin: 0 8px;

                &:hover {
                    color: white;
                }
            }
        }

        .track-time {
            display: unset;
            font-size: 12px;
            padding: 8px;
            color: rgb(172, 170, 170);
        }

        .mp-2nd-controller {

            display: flex;
            align-items: center;

            .sound-btn {
                border: none;
                background: none;
                color: #b3b3b3;
                margin: 0 8px;
                font-size: 1rem;
                color: #b3b3b3;
            }

            .volume-input {
                display: flex;
                justify-content: center;
                cursor: pointer;
                accent-color: #4d4d4d;

                &::-webkit-slider-thumb {
                    // display: none;
                    -webkit-appearance: none;
                    appearance: none;
                    width: 6px;
                    height: 6px;
                    border-radius: 23px;
                    cursor: pointer;
                    background: #434343;
                }

                &:hover {
                    // accent-color: #1db954;

                    &::-webkit-slider-thumb {
                        opacity: 1;
                    }
                }
            }
        }

        .play-btn {
            background-color: rgb(197, 197, 197);
            font-size: 1rem;
            color: black;
            width: 40px;
            height: 40px;
            border-radius: 50%;

            &:hover {
                background-color: white;
                transition: 0.3s;
            }
        }

        .media-player-clip-container {
            z-index: 20;

            .like-btn-container {
                display: block;
                position: relative;
                top: 15px;
                left: 10px;

                .like.symbol {
                    display: block
                }
            }

            .media-player-clip-preview {
                padding-left: 60px;
                white-space: normal;
                letter-spacing: -.01rem;

                h1 {
                    font-size: 14px;
                }

                p {
                    font-size: 12px;
                }
            }
        }

        .symbol-like,
        .skip10sec-btn,
        .shuffle,
        .repeat,
        .queue-icon {
            display: block;
            cursor: pointer;
            color: rgb(172, 170, 170);

        }

        .action-btn.shuffle {
            display: block;
        }

        .action-btn.queue-icon {
            display: block;

        }
    }

    /*******************721px-1190px*******************/
    @include for-normal-layout {
 

        .time-line-input {
            width: 300px;
        }


    }

    /******************1190px and above******************/
    @include for-wide-layout {
        .time-line-input {
            width: 500px;
        }
    }
}

.action-btn.fa-step-backward,
.action-btn.fa-step-forward {
    display: none;

    @include for-narrow-layout {
        display: block;
    }
}

.action-btn.fa-repeat {
    display: none;

    @include for-narrow-layout {
        display: block;
        font-size: 0.8rem;
    }
}

.media-player-clip-img {
    width: 30px;
    height: 30px;

    @include for-narrow-layout {
        margin-left: 5px;
        height: 60px;
        width: 60px;
    }
}