.media-player-container {
    /************************Below 415px************************/
    grid-area: mediaplayer;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    width: 95%;
    left: 2.5%;
    bottom: 75px;
    margin: auto;
    position: fixed;
    background-color: #181818;
    border-top: 1px solid #282828;
    padding: 0 10px;
    border-radius: 8px;
    z-index: 20;

    .youtube-player {
        display: none;
    }

    .media-player-clip-preview {
        gap: 10px;
        align-items: center;
        width: fit-content;
        height: 53px;

        &:not(:last-child) {
            justify-content: flex-start;
        }

        .media-player-clip-img {
            position: relative;
            width: 30px;
            height: 30px;
            clip-path: inset(12.5% 0% 12.5% 0% round 10px);
        }

        .media-player-clip-txt {
            font-size: 10px;

            h1,
            p {
                margin: 0;
                padding: 0;
            }

            h1 {
                font-size: 14px;
                max-width: 200px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            p {
                font-size: 12px;
                color: rgb(172, 170, 170);
            }
        }

        .like-btn-container {
            display: none;
        }

    }

    .mp-controller {
        position: absolute;
        width: 90vw;
        bottom: -6px;

        .mp-btn-container {
            display: flex;
            justify-content: flex-end;
            padding-top: 20px;
            gap: 5px;

            .action-btn {
                font-size: rem(16px);
                color: #acaaaa;
                background: none;
                border: none;
                cursor: pointer;
                padding: 0px;

                &:hover {
                    color: white;
                }
            }

            &>:not(.play-btn) {
                display: none;
            }

            .play-btn {
                position: relative;
            }
        }
    }

    .time-line-container {
        display: flex;
        justify-content: center;

        .time-line-input {
            width: 90%;
            outline: 0;
            cursor: pointer;
            transform: translateY(6%);

            @include for-mobile-layout {
                transform: translateY(20%);
            }
        }

        .track-time {
            display: none;
        }
    }

    .mp-2nd-controller {
        display: none;
        flex-direction: column;
        align-items: center;

        .toggle-mute-btn {
            border: none;
            background: none;
            color: #b3b3b3;
            margin: 0 8px;
            font-size: 1rem;
            color: #b3b3b3;
        }

        .queue-icon {
            display: block;
            cursor: pointer;
            color: rgb(172, 170, 170);
        }

        .volume-input-container {
            width: 60px;
            margin-inline-end: 5px;
        }
    }


    /*******************415px-720px*******************/
    @include for-narrow-layout {
        display: flex;
        bottom: 0;
        width: 100%;
        height: 90px;
        left: 0;

        .media-player-clip-preview {
            .media-player-clip-img {
                margin-left: 5px;
                width: 60px;
                height: 60px;
            }

            .media-player-clip-txt {
                white-space: normal;
                letter-spacing: -.01rem;

                h1,
                p {
                    display: none;
                }
            }

            .like-btn-container {
                display: block
            }
        }

        .time-line-container {
            .time-line-input {
                width: 100%;
            }
        }

        .mp-controller {
            position: relative;
            text-align: center;
            width: 50%;
            justify-content: space-between;
            margin: 15px;
            bottom: 4px;

            .mp-btn-container {
                justify-content: space-between;
                margin: 0 auto;
                gap: 7.5px;

                &>:not(.play-btn) {
                    display: block;
                }

                .action-btn {
                    font-size: rem(16px);
                }

                .play-btn {
                    background-color: #c5c5c5;
                    font-size: rem(12px);
                    color: black;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;

                    &:hover {
                        background-color: white;
                        color: black;
                        transition: 0.3s;
                    }
                }
            }
        }

        .time-line-container.track-time {
            display: unset;
            font-size: 12px;
            padding: 8px;
            color: rgb(172, 170, 170);
        }

        .mp-2nd-controller {
            display: flex;
        }
    }

    /*******************721px-1190px*******************/
    @include for-normal-layout {
        .media-player-clip-preview {
            .media-player-clip-txt {

                h1,
                p {
                    display: block;
                }
            }
        }

        .mp-2nd-controller {
            flex-direction: row;

            .volume-input-container {
                width: 95px;
            }
        }
    }

    /******************1190px and above******************/
    @include for-wide-layout {
              .mp-controller {
            position: relative;
            text-align: center;
            width: 50%;
            justify-content: space-between;
            margin: 15px;
            bottom: 4px;

            .mp-btn-container {
                gap: 15px;

                &>:not(.play-btn) {
                    display: block;
                }

                .action-btn {
                    font-size: rem(20px);
                }

                .play-btn {
                    font-size: rem(20px);
                    width: 45px;
                    height: 45px;
                   
                }
            }
        }
    }
}