.nav-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 76px;
    position: fixed;
    width: 100%;
    bottom: 0;
    margin: 0;
    z-index: 10;
    background-color: black;

    .home-link,
    .liked-songs-link {
        .symbol-txt {
            margin-left: -5px;
            margin-top: 3px;
        }
    }

    .home-link,
    .library-link,
    .search-link {
        .symbol-container {
            &>:nth-child(2) {
                display: none;
            }
        }

        &.active {
            &>.symbol-container {
                &>:nth-child(1) {
                    display: none;
                }

                &>:nth-child(2) {
                    display: unset;
                }
            }
        }
    }

    .liked-songs-link {
        display: none;

        .nav-likes-songs-logo {
            width: 25px;
            padding-inline-start: 3px;
            margin-inline-end: 6px;
        }
    }

    .symbol-container {
        padding: 2.5px 0 0 0;
        text-align: center;
        cursor: pointer;

        .symbol {
            font-size: 18px;
            text-align: center;
            color: #acaaaa;

            &:hover {
                color: white;
                visibility: visible;
            }
        }
    }

    @include for-narrow-layout {
        display: block;
        position: static;
        margin: 10px 0;
        padding: 0;
        padding: 15px 0 15px;

        & .symbol-container {
            padding: 20px;
            max-height: 40px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 16px;
            font-size: 15px;

            .symbol {
                font-size: 18px;
                padding: 5px 5px 5px 0;
                margin-top: 6px;
                color: rgb(172, 170, 170);

                &:hover {
                    visibility: visible;
                }
            }
        }

        .liked-songs-link {
            display: unset;
        }
    }
}