.pagination-btn-container {
    margin-inline-start: 30px;
    width: 120px;
    gap: 5px;

    .pagination-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;
        background-color: #000;
        border: none;
        color: white;
        border-radius: 50%;
    }
    
    &>*:nth-child(2) {
        display: none;
    }
    
    @include for-wide-layout {
        &>*:nth-child(2) {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}