
.arrow {
    background: #121212;
    background-color: #000;
    border: none;
    color: white;
    border-radius: 50%;

    @include for-mobile-layout {
        display: none;
    }
}

.pagination-btn-container {
    &>* {
        height: 35px;
        width: 35px;
        border-radius: 50%;
        margin: 10px;
        color: rgb(172, 170, 170);
    }

    @include for-narrow-layout {
        margin-inline-start: 30px;
    }
}