.profile-header {
    .profile-header-main-container {
        padding: 10px 25px 0;
        gap: 35px;
        margin-bottom: 50px;

        .profile-header-img-container {
            .profile-img {
                height: 110px;
                width: 110px;
                border-radius: 50%;
                cursor: pointer;

                @include for-wide-layout {
                    height: 232px;
                    width: 232px;
                }
            }
        }

        .profile-header-details {
            gap: 35px;
            justify-content: center;
            font-size: rem(14px);

            .profile-name-title {
                font-size: rem(10.5px);
                margin-bottom: 0;

                @include for-mobile-layout {
                    font-size: 15px;
                }
            }

            .profile-name {
                line-height: rem(32px);
                padding-inline-start: 10px;

                @include for-mobile-layout {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    font-size: rem(22.4px);
                    letter-spacing: -1px;
                    text-indent: -2px;
                    margin-top: 0;
                    margin-inline-start: 0;
                    top: 245px;
                    left: 10px;
                }

                @include for-normal-layout {
                    font-size: 2.75rem;
                    margin-left: 0;
                }

                @include for-wide-layout {
                    margin-inline-start: 0;
                    margin-top: 0;
                    font-size: rem(88px);
                    height: rem(88px);
                    letter-spacing: -5px;
                }
            }
        }
    }

    .profile-btn-container {
        position: relative;
        padding: 50px 0 15px 0;
        gap: 25px;

        .profile-btn-main-container {
            align-items: center;
            margin: 15px;
            gap: 20px;

            .play-btn {
                width: rem(65px);
                height: rem(65px);
                font-size: rem(25px);

                &:hover {
                    transform: scale(1.1);
                }

                @include for-mobile-layout {
                    width: 2.75rem;
                    height: 2.75rem;
                    font-size: 1rem;
                }
            }

            .toggle-follow-btn {
                background-color: #00000000;
                color: white;
                border: 1px solid white;
                font-size: rem(18px);
                font-weight: bold;
                padding: 10px 25px;
            }
        }
    }
}