.profile-preview {
    border-radius: 15px;
    padding: 15px;
    background-color: $black-bcg;
    justify-content: space-between;
    overflow: hidden;
    overflow-y: hidden;
    height: 285px;

    a {
        display: flex;
        justify-content: center;
    }

    .profile-img-container {
        height: 185px;
        width: 185px;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 50%;
            margin-bottom: 16px;
            @include aspect-ratio(1, 1);
        }

        .play-btn {
            position: relative;
            left: 65%;
            bottom: 75px;
            display: none;
        }
    }

    &:hover {
        background-color: $grey-hover;
        transition: all 0.5s;

        &:hover {
            .play-btn {
                display: block;
            }
        }
    }
}