.profile-list-container {
    // padding: 15px;

    p {
        padding-inline-start: 25px;
    }

    .profile-preview>a {
        text-align: center;
    }

    .profile-preview {
        margin-inline-start: 20px;
    }

}