.profile-header-main-container {

    padding: 10px 25px 0;
    gap: 35px;
    margin-bottom: 50px;
}

.profile-img {
    height: 110px;
    width: 110px;
    border-radius: 50%;
    cursor: pointer;

    @include for-wide-layout {
        height: 232px;
        width: 232px;
        // margin-inline-start: 40px;
    }
}

.profile-header-details {
    gap: 35px;
    justify-content: center;
    font-size: rem(14px);

    &>*:first-child {
        font-size: rem(10.5px);
    }

    .profile-h1 {
        line-height: rem(32px);
        padding-inline-start: 10px;

        @include for-mobile-layout {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: rem(22.4px);
            letter-spacing: -1px;
            text-indent: -2px;
            margin-top: 0;
            margin-inline-start: 0;
            top: 245px;
            left: 10px;
        }

        @include for-normal-layout {
            font-size: 2.75rem;
            margin-left: 0;
        }

        @include for-wide-layout {
            // text-indent: -6px;
            margin-inline-start: 0;
            margin-top: 0;
            font-size: rem(88px);
            height: rem(88px);
            letter-spacing: -5px;
        }
    }

    p {
        margin-bottom: 0;

        @include for-mobile-layout {
            font-size: 15px;
        }
    }
}

.profile-img-input {
    display: none;
}
