.profile-preview {
    border-radius: 15px;
    padding: 15px;
    background-color: #181818;
    justify-content: space-between;
    overflow: hidden;
    overflow-y: hidden;
    height: 285px;

    a {
        display: flex;
        justify-content: center;
    }

    .profile-img-container {
        height: 185px;
        width: 185px;
        border-radius: 50%;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            margin-bottom: 16px;
            @include aspect-ratio(1, 1);
        }

        .play-btn-container {
            &>* {
                position: relative;
                left: 70%;
                bottom: 65px;
            }

            .play-btn {
                position: relative;
                border-radius: 50%;
                border: none;
                display: none;
                text-align: center;
                transition: 0.4s;
                width: 45px;
                height: 45px;

                @include for-mobile-layout {
                    display: none;
                }
            }

            .play-btn.fa-pause {
                display: block;

            }
        }
    }


    .desc-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;

        h4,
        p {
            margin: 0;
            padding: 0;
        }

        h4 {
            margin-top: 15px;
            font-size: 16px;
            padding-bottom: 4px;
        }

        p {
            color: #a7a7a7;
        }
    }


    &:hover {
        background-color: rgb(49, 49, 49);
        transition: all 0.5s;

        .profile-preview-main-container {
            &:hover {
                .play-btn {
                    display: block;
                    transform: scale(1.1);
                    background: #1ed760;
                    transition: 0.4s;
                    border: none;
                }
            }
        }
    }
}