.profile-list {
    max-width: 2180px;

    .profile-list-header {
        width: 100%;
        padding: 25px 25px 0;

        h1 {
            margin: 0;
            text-transform: capitalize;
        }

        a {
            text-transform: uppercase;
            color: #a7a7a7;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .profile-list-main-container {
        grid-template-columns: repeat(auto-fit, minmax(215px, 245px));
        gap: 24px;
        padding: 25px 25px 0;
    }

    p {
        padding-inline-start: 25px;
    }

}