.profile-list {
    max-width: 2180px;

    .profile-list-main-container {
        grid-template-columns: repeat(auto-fit, minmax(225px, 245px));
        grid-template-rows: 50px 1fr;
        gap: 24px;
        padding: 25px 25px 0;
    }
}