.search-form {
    display: flex;
    position: absolute;
    top: 15px;
    z-index: 20;

    .search-btn {
        position: relative;
        left: 12%;
        color: #000000a2;
        font-size: 20px;
        border: none;
        background: none;

        @include for-mobile-layout {
            left: 6%;
            top: 23px;
            font-size: 13px;
        }
    }

    .search-bar-input {
        width: 365px;
        height: 40px;
        border-radius: rem(32px);
        background-color: white;
        border: none;
        padding-left: 50px;

        &:focus {
            outline: none;
        }

        @include for-mobile-layout {
            width: 55%;
            height: 35px;
            text-align: center;
            left: 10px;
            top: 3px;
            padding-left: 17px;
            font-size: 13px;
        }
    }
}