.sidebar {
    grid-area: sidebar;
    z-index: 10;

    .logo-container {
        padding-inline-start: rem(8px);
        display: flex;
        align-items: center;
        gap: 2.5px;

        .logo-name {
            position: relative;
            left: -50%;
            transform: translateX(50%);
            color: $green;
            font-size: rem(30px);
            font-weight: lighter;
            font-family: pacifico, sans-serif;
        }

        .logo-img {
            width: rem(100px);
            -webkit-transform: rotate(345deg);
            -moz-transform: rotate(345deg);
            -ms-transform: rotate(345deg);
            -o-transform: rotate(345deg);
            transform: rotate(345deg);
        }
    }

    hr {
        margin: 0 rem(22px);
    }

    .user-stations-container {
        padding: 0;
        margin: 10px 3px;

        li {
            padding: rem(20px);
            max-height: rem(40px);
            font-size: rem(16px);
        }
    }

    &>*:not(.nav-list) {
        display: none;
    }

    @include for-narrow-layout {
        height: 100vh;
        position: sticky;
        top: 0;
        padding: 10px 0;
        background-color: black;

        &>*:not(.nav-list) {
            display: block;
        }

    }
}