.station-list {
    max-width: 2020px;

    .station-list-header {
        padding: 25px 25px 0;

        h1 {
            margin: 0;
            text-transform: capitalize;
        }

        a {
            text-transform: uppercase;
            color: #a7a7a7;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .station-list-main-container {
        grid-template-columns: repeat(auto-fit, minmax(180px, 225px));
        gap: 24px;
        padding: 25px 25px 0;
    }

    @include for-mobile-layout {
        .station-list-main-container {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            gap: 15px 8px;
        }
    }

}