.station-preview {
    height: 270px;
    border-radius: 15px;
    padding: 15px;
    background-color: #181818;

    .station-preview-main-container {

        a {
            display: flex;
            justify-content: center;
        }

        .station-preview-img-container {
            height: 156px;
            width: 100%;

            .station-preview-img {
                float: left;
                height: 100%;
                width: 100%;
                object-fit: cover;
                margin-bottom: 16px;
                box-shadow: 0px 7px 24px -2px #000000;
                border-radius: 5px;
            }

            .play-btn-container {
                &>* {
                    position: relative;
                    left: 75%;
                    bottom: 65px;

                }

                .play-btn {
                    border-radius: 50%;
                    background: #1ed760;
                    border: none;
                    display: none;
                    text-align: center;
                    transition: 0.4s;
                    width: 55px;
                    height: 55px;
                    font-size: rem(20px);

                    @include for-mobile-layout {
                        display: none;
                    }

                }
                
                .play-btn.fa-pause {
                    display: block;
                    
                }
                
            }
        }

        .desc-container {

            h4,
            p {
                margin: 0;
                padding: 0;
            }

            h4 {
                margin-top: 15px;
                font-size: 16px;
                padding-bottom: 4px;
            }

            p {
                color: #a7a7a7;
                text-overflow: ellipsis;
            }
        }
    }

    &:hover {
        background-color: rgb(49, 49, 49);
        transition: all 0.5s;

        .station-preview-main-container {
            background-color: rgb(49, 49, 49);
            transition: all 0.5s;

            &:hover {
                .play-btn {
                    display: block;
                    transform: scale(1.1);
                    transition: 0.4s;
                    border: none;
                }
            }
        }
    }
}