.station-preview {
    height: 270px;
    border-radius: 15px;
    padding: 15px;
    background-color: $black-bcg;

    .station-preview-main-container {

        a {
            display: flex;
            justify-content: center;
        }

        .station-preview-img-container {
            height: 156px;
            width: 100%;

            .station-preview-img {
                float: left;
                height: 100%;
                width: 100%;
                object-fit: cover;
                margin-bottom: 16px;
                box-shadow: 0px 7px 24px -2px #000000;
                border-radius: 5px;
            }

            .play-btn {
                position: relative;
                left: 68%;
                bottom: 78.5px;
                display: none;
            }
        }
    }

    &:hover {
        background-color: $grey-hover;
        transition: all 0.5s;

        .station-preview-main-container {
            background-color: $grey-hover;
            transition: all 0.5s;

            &:hover {
                .play-btn {
                    display: block;
                }
            }
        }
    }
}