.user-msg {
    position: fixed;
    min-width: fit-content;
    height: 50px;
    background-color: $user-msg-blue;
    bottom: 100px;
    left: 50%;
    transform: translate(-35%);
    padding: 0 40px;
    border-radius: 15px;

    @include for-mobile-layout {
        bottom: 10px;
        left: 13%;
    }
}