.user-msg {
    // min-width: 50%;
    min-width: fit-content;
    height: 50px;
    background-color: $clr1;
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%);
    padding-inline-start: 40px;
    padding-inline-end: 40px;
    border-radius: 15px;

    // &.shown {
    //     visibility: visible;
    // }

    // &.hidden {
    //     visibility: hidden;
    // }

    @include for-mobile-layout {
        bottom: 10px;
        left: 13%;
    }
}