.main-layout {
    display: grid;
    grid-template-areas: 'header' 'main' 'mediaplayer' 'navbar';

    .main-content {
        min-height: 2500px;
        grid-area: main;
    }

    @include for-narrow-layout {
        grid-template-columns: 252px 5fr;
        grid-template-rows: 65px minmax(calc(100% - 150px), 1fr) 90px;
        grid-template-areas:
            'navbar header'
            'navbar main'
            'mediaplayer mediaplayer'
        ;
    }
}